.values
    max-width: 100%
    min-height: 409px
    padding: 80px 0
    background-color: #201A1A
    &_title
        color: #FFF
        font-family: Garamond
        font-size: 36px
        font-style: normal
        font-weight: 400
        line-height: 28px /* 77.778% */
        text-transform: uppercase
    &_card-wrap
        margin-top: 80px
        display: flex  
        gap: 83px  
    &_card
        text-align: center
    &_card-text
        color: #FFF
        text-align: center
        font-family: Open Sans
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: normal   